@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('/static/fonts/ProximaNovaRegular.eot');
	src: url('/static/fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
		 url('/static/fonts/ProximaNovaRegular.woff2') format('woff2'),
		 url('/static/fonts/ProximaNovaRegular.woff') format('woff'),
		 url('/static/fonts/ProximaNovaRegular.ttf') format('truetype'),
		 url('/static/fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
	font-family: 'MarkSimonsonProximaNovaBold';
	src: url('/static/fonts/MarkSimonsonProximaNovaBold.eot');
	src: url('/static/fonts/MarkSimonsonProximaNovaBold.eot') format('embedded-opentype'),
		 url('/static/fonts/MarkSimonsonProximaNovaBold.woff2') format('woff2'),
		 url('/static/fonts/MarkSimonsonProximaNovaBold.woff') format('woff'),
		 url('/static/fonts/MarkSimonsonProximaNovaBold.ttf') format('truetype'),
		 url('/static/fonts/MarkSimonsonProximaNovaBold.svg#MarkSimonsonProximaNovaBold') format('svg');
}

@font-face {
	font-family: 'ProximaNovaBlack';
	src: url('/static/fonts/ProximaNovaBlack.eot');
	src: url('/static/fonts/ProximaNovaBlack.eot') format('embedded-opentype'),
		 url('/static/fonts/ProximaNovaBlack.woff2') format('woff2'),
		 url('/static/fonts/ProximaNovaBlack.woff') format('woff'),
		 url('/static/fonts/ProximaNovaBlack.ttf') format('truetype'),
		 url('/static/fonts/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg');
}

@font-face {
	font-family: 'MarkSimonsonProximaNovaSemibold';
	src: url('/static/fonts/MarkSimonsonProximaNovaSemibold.eot');
	src: url('/static/fonts/MarkSimonsonProximaNovaSemibold.eot') format('embedded-opentype'),
		 url('/static/fonts/MarkSimonsonProximaNovaSemibold.woff2') format('woff2'),
		 url('/static/fonts/MarkSimonsonProximaNovaSemibold.woff') format('woff'),
		 url('/static/fonts/MarkSimonsonProximaNovaSemibold.ttf') format('truetype'),
		 url('/static/fonts/MarkSimonsonProximaNovaSemibold.svg#MarkSimonsonProximaNovaSemibold') format('svg');
}

@font-face {
	font-family: 'SixCaps';
	src: url('/static/fonts/SixCaps.eot');
	src: url('/static/fonts/SixCaps.eot') format('embedded-opentype'),
		 url('/static/fonts/SixCaps.woff2') format('woff2'),
		 url('/static/fonts/SixCaps.woff') format('woff'),
		 url('/static/fonts/SixCaps.ttf') format('truetype'),
		 url('/static/fonts/SixCaps.svg#SixCaps') format('svg');
}


* {
	margin: 0;
	padding: 0;
}

body {
	background: #D9D9D2;
}

.btn {
	display: inline-block;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	padding: 15px 100px;
	font-family: 'ProximaNovaRegular';
	font-size: 16px;
}

.btn-dark {
	background: #191714;
	color: #FF9C5F;
	&:hover {
		color: #ffad7a;
	}
	&:after {
		content: "";
		position: absolute;
		left: 3px;
		width: 100%;
		top: 3px;
		height: 100%;
		border: 1px solid #CC8011;
	}
}

.btn-light {
	background: #D9D9D2;
	color: #CC8011;
	&:hover {
		color: #FF9C5F;
	}
	&:after {
		content: "";
		position: absolute;
		left: 3px;
		width: 100%;
		top: 3px;
		height: 100%;
		border: 1px solid #CC8011;
	}
}

.homepage {
	.top-section {
		background: url('/static/images/FG_UI01_assets_home_hero.jpg') center top no-repeat;
		height: 830px;
		position: relative;
		.btn-container {
			position: absolute;
			bottom: 15px;
			left: 0;
			text-align: center;
			width: 100%;
		}
	}
	.section-2 {
		padding: 10% 7% 15% 7%;
		position: relative;
		.caption {
			font-family: 'ProximaNovaBlack';
			font-size: 90px;
			text-transform: uppercase;
			color: #191714;
			width: 60%;
		}
		&:after {
			content: "";
			border-top: 2px solid #9E9D8F;
			position: absolute;
			width: 80%;
			bottom: 0;
			left: 10%;
			transform: rotate(13deg);
		}
	}
	.section-3 {
		padding: 10% 7% 10% 7%;
		background: #191714;
		display: flex;
		.left {
			width: 30%;
			.image-container {
				border-left: 2px dashed #D9D9D2;
				border-right: 2px dashed #D9D9D2;
				padding-bottom: 50%;
				filter: grayscale(100%);
				opacity: 0.1;
				transition: 0.5s;
				img {
					width: 100%;
				}
				&:hover {
					filter: grayscale(0);
					opacity: 1;
				}
			}
			.caption {
				margin-top: 30px;
				font-family: 'ProximaNovaRegular';
				font-size: 16px;
				line-height: 1.8;
				color: #D9D9D2;
				text-align: justify;
			}
			.btn-container {
				margin-top: 35px;
			}
		}
		.right {
			width: 70%;
			.caption {
				font-family: 'SixCaps';
				font-size: 260px;
				line-height: 0.83;
				color: #D9D9D2;
				text-align: right;
				position: relative;
				margin-left: 5%;
				padding-bottom: 12%;
				&:after {
					content: "";
					border-top: 2px solid #D9D9D2;
					position: absolute;
					width: 80%;
					bottom: 0;
					left: 10%;
					transform: rotate(13deg);
				}
			}
		}
	}
}

footer {
	height: 565px;
	background: url(/static/images/footer-bg.png);
	background-size: cover;
	padding-right: 7%;
	padding-left: 16%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-family: 'ProximaNovaRegular';
	.footer-logo {
		width: 160px;
		height: 160px;
		margin-bottom: 125px;
	}
	.footer-menu {
		border-top: 1px solid #d9d9d2;
		padding-top: 25px;
		text-align: right;
		padding-bottom: 125px;
	}
	.menu-item {
		color: #d9d9d2;
		border-right: 1px solid #d9d9d2;
		padding: 0 10px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		letter-spacing: -.3px;
		line-height: 1;
		text-decoration: none;
	}
	.menu-item:first-child {
		padding-left: 0;
	}
	.menu-item:nth-child(4) {
		border-right: none;
		padding-right: 0;
	}
	.dev {
		padding-top: 15px;
		color: #d9d9d2;
	}
}