@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("/static/fonts/ProximaNovaRegular.eot");
  src: url("/static/fonts/ProximaNovaRegular.eot") format("embedded-opentype"), url("/static/fonts/ProximaNovaRegular.woff2") format("woff2"), url("/static/fonts/ProximaNovaRegular.woff") format("woff"), url("/static/fonts/ProximaNovaRegular.ttf") format("truetype"), url("/static/fonts/ProximaNovaRegular.svg#ProximaNovaRegular") format("svg"); }

@font-face {
  font-family: 'MarkSimonsonProximaNovaBold';
  src: url("/static/fonts/MarkSimonsonProximaNovaBold.eot");
  src: url("/static/fonts/MarkSimonsonProximaNovaBold.eot") format("embedded-opentype"), url("/static/fonts/MarkSimonsonProximaNovaBold.woff2") format("woff2"), url("/static/fonts/MarkSimonsonProximaNovaBold.woff") format("woff"), url("/static/fonts/MarkSimonsonProximaNovaBold.ttf") format("truetype"), url("/static/fonts/MarkSimonsonProximaNovaBold.svg#MarkSimonsonProximaNovaBold") format("svg"); }

@font-face {
  font-family: 'ProximaNovaBlack';
  src: url("/static/fonts/ProximaNovaBlack.eot");
  src: url("/static/fonts/ProximaNovaBlack.eot") format("embedded-opentype"), url("/static/fonts/ProximaNovaBlack.woff2") format("woff2"), url("/static/fonts/ProximaNovaBlack.woff") format("woff"), url("/static/fonts/ProximaNovaBlack.ttf") format("truetype"), url("/static/fonts/ProximaNovaBlack.svg#ProximaNovaBlack") format("svg"); }

@font-face {
  font-family: 'MarkSimonsonProximaNovaSemibold';
  src: url("/static/fonts/MarkSimonsonProximaNovaSemibold.eot");
  src: url("/static/fonts/MarkSimonsonProximaNovaSemibold.eot") format("embedded-opentype"), url("/static/fonts/MarkSimonsonProximaNovaSemibold.woff2") format("woff2"), url("/static/fonts/MarkSimonsonProximaNovaSemibold.woff") format("woff"), url("/static/fonts/MarkSimonsonProximaNovaSemibold.ttf") format("truetype"), url("/static/fonts/MarkSimonsonProximaNovaSemibold.svg#MarkSimonsonProximaNovaSemibold") format("svg"); }

@font-face {
  font-family: 'SixCaps';
  src: url("/static/fonts/SixCaps.eot");
  src: url("/static/fonts/SixCaps.eot") format("embedded-opentype"), url("/static/fonts/SixCaps.woff2") format("woff2"), url("/static/fonts/SixCaps.woff") format("woff"), url("/static/fonts/SixCaps.ttf") format("truetype"), url("/static/fonts/SixCaps.svg#SixCaps") format("svg"); }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

body {
  background: #D9D9D2; }

.btn {
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 15px 100px;
  font-family: 'ProximaNovaRegular';
  font-size: 16px; }

.btn-dark {
  background: #191714;
  color: #FF9C5F; }
  .btn-dark:hover {
    color: #F89B61; }
  .btn-dark:after {
    content: "";
    position: absolute;
    left: 3px;
    width: 100%;
    top: 3px;
    height: 100%;
    border: 1px solid #CC8011; }

.btn-light {
  background: #D9D9D2;
  color: #CC8011; }
  .btn-light:hover {
    color: #F89B61; }
  .btn-light:after {
    content: "";
    position: absolute;
    left: 3px;
    width: 100%;
    top: 3px;
    height: 100%;
    border: 1px solid #CC8011; }

.homepage .top-section {
  background: url("/static/images/FG_UI01_assets_home_hero.jpg") center top no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }
  .homepage .top-section .btn-container {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%; }

.homepage .section-2 {
  padding: 10% 7% 15% 7%;
  position: relative; }
  .homepage .section-2 .caption {
    font-family: 'ProximaNovaBlack';
    font-size: 90px;
    text-transform: uppercase;
    color: #191714;
    width: 60%; }
  .homepage .section-2:after {
    content: "";
    border-top: 2px solid #9E9D8F;
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 10%;
    transform: rotate(13deg); }

.homepage .section-3 {
  padding: 10% 7% 10% 7%;
  background: #191714;
  display: flex; }
  .homepage .section-3 .left {
    width: 30%; }
    .homepage .section-3 .left .image-container {
      border-left: 2px dashed #D9D9D2;
      border-right: 2px dashed #D9D9D2;
      padding-bottom: 50%;
      filter: grayscale(100%);
      opacity: 0.1;
      transition: 0.5s; }
      .homepage .section-3 .left .image-container img {
        width: 100%; }
      .homepage .section-3 .left .image-container:hover {
        filter: grayscale(0);
        opacity: 1; }
    .homepage .section-3 .left .caption {
      margin-top: 30px;
      font-family: 'ProximaNovaRegular';
      font-size: 16px;
      line-height: 1.8;
      color: #D9D9D2;
      text-align: justify; }
    .homepage .section-3 .left .btn-container {
      margin-top: 35px; }
  .homepage .section-3 .right {
    width: 70%; }
    .homepage .section-3 .right .caption {
      font-family: 'SixCaps';
      font-size: 260px;
      line-height: 0.83;
      color: #D9D9D2;
      text-align: right;
      position: relative;
      margin-left: 5%;
      padding-bottom: 12%; }
      .homepage .section-3 .right .caption:after {
        content: "";
        border-top: 2px solid #D9D9D2;
        position: absolute;
        width: 80%;
        bottom: 0;
        left: 10%;
        transform: rotate(13deg); }

.homepage .section-4 {
  background-color: #191714;
  padding: 10% 12% 16% 12%; }

.homepage .section-5 {
  padding: 10% 5% 16% 5%;
  background: url("/static/images/section-5-bg.png") no-repeat;
  background-size: cover; }
  .homepage .section-5 .content-container {
    width: 70%;
    margin-left: 15%; }
  .homepage .section-5 .top-caption {
    font-family: 'ProximaNovaBlack';
    font-size: 100px;
    line-height: 0.95;
    color: #D9D9D2;
    text-align: left;
    text-transform: uppercase; }
  .homepage .section-5 .bars-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
    .homepage .section-5 .bars-container .left-bar {
      width: 48%;
      border-left: 2px dashed rgba(217, 217, 210, 0.15);
      border-right: 2px dashed rgba(217, 217, 210, 0.15);
      position: relative;
      height: 250px;
      margin-top: 125px; }
      .homepage .section-5 .bars-container .left-bar:before {
        content: "";
        border-top: 2px solid #D9D9D2;
        transform: rotate(10deg);
        width: 80%;
        margin: 10% 0;
        display: block;
        position: absolute;
        top: -125px;
        left: 10%; }
    .homepage .section-5 .bars-container .right-bar {
      width: 48%;
      border-left: 2px dashed rgba(217, 217, 210, 0.15);
      border-right: 2px dashed rgba(217, 217, 210, 0.15);
      height: 250px;
      margin-top: 125px;
      position: relative; }
      .homepage .section-5 .bars-container .right-bar .caption {
        font-family: 'ProximaNovaRegular';
        font-size: 16px;
        line-height: 1.8;
        color: #D9D9D2;
        position: absolute;
        top: -125px; }

.homepage .section-6 {
  position: relative;
  padding-bottom: 100px;
  padding: 0 7% 10% 7%; }
  .homepage .section-6:after {
    content: "";
    position: absolute;
    border-top: 2px solid #BABAB0;
    transform: rotate(12deg);
    left: 7%;
    bottom: 50px;
    width: 86%; }
  .homepage .section-6 .content-container {
    display: flex;
    justify-content: space-between;
    margin-top: -250px; }
    .homepage .section-6 .content-container .image-block {
      margin-bottom: 80px; }
      .homepage .section-6 .content-container .image-block img {
        opacity: 0.9;
        width: 100%; }
      .homepage .section-6 .content-container .image-block .bottom {
        margin-top: 10px;
        position: relative; }
        .homepage .section-6 .content-container .image-block .bottom .text {
          color: #9E9D8F;
          font-family: 'ProximaNovaRegular';
          text-align: left; }
        .homepage .section-6 .content-container .image-block .bottom:after {
          content: "";
          position: absolute;
          width: 80px;
          top: 10px;
          right: 0;
          border-top: 2px solid #9E9D8F; }
    .homepage .section-6 .content-container .left {
      width: 45%;
      text-align: center; }
    .homepage .section-6 .content-container .right {
      width: 45%;
      text-align: center;
      margin-top: 20%; }
      .homepage .section-6 .content-container .right .divider {
        content: "";
        border-top: 2px solid #BABAB0;
        transform: rotate(12deg);
        margin: 150px 10%;
        width: 80%; }
      .homepage .section-6 .content-container .right .caption {
        color: #191714;
        font-family: 'ProximaNovaRegular';
        font-size: 16px;
        line-height: 1.81;
        text-align: justify;
        margin: 0 10%;
        width: 80%; }
      .homepage .section-6 .content-container .right .btn-container {
        margin: 50px 10%;
        width: 80%;
        text-align: left; }

.homepage .section-7 {
  position: relative;
  margin-top: 100px;
  padding: 0 7% 10% 7%; }
  .homepage .section-7 .just-living-block .football {
    letter-spacing: -.6px;
    color: #131828;
    font-family: 'MarkSimonsonProximaNovaBold';
    margin-bottom: 25px; }
  .homepage .section-7 .just-living-block .contant-container {
    display: flex; }
    .homepage .section-7 .just-living-block .contant-container .left {
      width: 75%; }
      .homepage .section-7 .just-living-block .contant-container .left .quote {
        font-family: 'SixCaps';
        font-size: 260px;
        line-height: 0.95;
        color: #131828; }
    .homepage .section-7 .just-living-block .contant-container .right {
      position: relative;
      width: 25%; }
      .homepage .section-7 .just-living-block .contant-container .right .roof {
        position: absolute;
        background: url("/static/images/football.png");
        width: 290px;
        height: 650px;
        background-size: cover;
        opacity: .2; }

footer {
  height: 565px;
  background: url("/static/images/footer-bg.png");
  background-size: cover;
  padding-right: 7%;
  padding-left: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'ProximaNovaRegular'; }
  footer .footer-logo {
    width: 160px;
    height: 160px;
    margin-bottom: 125px; }
  footer .footer-menu {
    border-top: 1px solid #d9d9d2;
    padding-top: 25px;
    text-align: right;
    padding-bottom: 125px; }
  footer .menu-item {
    color: #d9d9d2;
    border-right: 1px solid #d9d9d2;
    padding: 0 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    letter-spacing: -.3px;
    line-height: 1;
    text-decoration: none; }
  footer .menu-item:first-child {
    padding-left: 0; }
  footer .menu-item:nth-child(4) {
    border-right: none;
    padding-right: 0; }
  footer .dev {
    padding-top: 15px;
    color: #d9d9d2; }
