@import "bootstrap";

@font-face {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/ProximaNovaRegular.eot);
    src: local("ProximaNova Regular"),local("ProximaNovaRegular"),url(/static/fonts/ProximaNovaRegular.eot?#iefix) format("embedded-opentype"),url(/static/fonts/ProximaNovaRegular.woff) format("woff"),url(/static/fonts/ProximaNovaRegular.ttf) format("truetype"),url(/static/fonts/ProximaNovaRegular.svg#ProximaNova) format("svg")
}

@font-face {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 900;
    src: url(/static/fonts/ProximaNovaBlack.eot);
    src: local("ProximaNova Black"),local("ProximaNovaBlack"),url(/static/fonts/ProximaNovaBlack.eot?#iefix) format("embedded-opentype"),url(/static/fonts/ProximaNovaBlack.woff) format("woff"),url(/static/fonts/ProximaNovaBlack.ttf) format("truetype"),url(/static/fonts/ProximaNovaBlack.svg#ProximaNova) format("svg")
}

@font-face {
    font-family: SixCaps;
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/six-caps-v8-latinRegular.eot);
    src: local("Six Caps"),local("SixCaps"),url(/static/fonts/six-caps-v8-latinRegular.eot?#iefix) format("embedded-opentype"),url(/static/fonts/six-caps-v8-latinRegular.woff2) format("woff2"),url(/static/fonts/six-caps-v8-latinRegular.woff) format("woff"),url(/static/fonts/six-caps-v8-latinRegular.ttf) format("truetype"),url(/static/fonts/six-caps-v8-latinRegular.svg#SixCaps) format("svg")
}

.leap-block,.partner-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

body {
    background-color: #d9d9d2!important;
    color: #131828
}

.nav {
    display: flex;
    position: absolute;
    z-index: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 28px 0;
    width: 100%
}

.btn,.skateboard-block {
    display: -webkit-box;
    display: -ms-flexbox
}

.nav .logo {
    width: 33px;
    height: 33px
}

.nav .burger {
    height: 27px;
    width: 27px
}

.skateboard-block {
    height: 100vh;
    background: url(/static/images/guy-with-scateboard.jpg) center;
    position: relative;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover
}

.skateboard-block .btn {
    background-color: #191714;
    color: #ff9c5f;
    margin-bottom: 15px
}

.btn-container {
    position: relative;
    width: auto
}

.btn-border {
    border: 1px solid #cc8011;
    background: 0 0!important;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    margin-left: 3px
}

.btn {
    width: 350px;
    height: 45px;
    border-radius: 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase
}

.give-a-fuck-block,.status-quo-block {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox
}

.status-quo-block {
    height: 100vh;
    background-color: #d9d9d2;
    color: #191714;
    font-weight: 900;
    font-size: 7vw;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.11;
    padding: 0 9.75%;
    position: relative;
	.caption {
		width: 75%;
	}
	&:after {
		content: "";
		display: block;
		border-bottom: 2px solid #9E9D8F;
		transform: rotate(9deg);
		width: 80%;
		bottom: 0;
		position: absolute;
		z-index: 1;
	}
}

@media screen and (max-width: 740px) {
	.status-quo-block {
		height: auto;
		padding: 20% 10%;
		.caption {
			width: 100%;
		}
	}
} 

.give-a-fuck-block {
    background-color: #191714;
    color: #d9d9d2;
    font-family: SixCaps,sans-serif;
    text-align: right;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 140px 9.75% 50px;
    .quote {
        font-size: 24vw;
        line-height: .92;
        position: relative;
        &:after {
        	content: "";
        	display: block;
        	border-bottom: 2px solid #9E9D8F;
        	transform: rotate(9deg);
        	width: 80%;
        	margin-left: 10%;
    		bottom: -10%;
        	position: absolute;
        	z-index: 1;
        }
    }
    .image {
        background: url(/static/images/fuck.png);
        background-size: cover
    }
}

.keep-talking-block,
.rising-standarts-block .quote {
    font-family: ProximaNova,sans-serif;
}

.keep-talking-block {
    background-color: #191714;
    color: #d9d9d2;
    line-height: 1.81;
    padding-left: 9.75%;
    padding-right: 9.75%;
    .paragraph {
        margin-bottom: 45px;
	    text-align: justify;
    }
    .btn {
        background-color: #d9d9d2;
        color: #cc8011
    }
}

@media screen and (max-width: 767px) {
	.give-a-fuck-block {
		position: relative;
		.image {
			position: absolute;
			left: 0;
			top: 120px;
			width: 50%;
			height: 405px;
		}
		.quote {
			&:after {
				content: none;
			}
		}
	}
	.keep-talking-block {
		.paragraph {
			font-size: 25px;
			line-height: 1.5;
		}
		.btn-container {
			display: block;
			margin: 0 auto;
			width: 350px;
		}
	}
}

.escalator-block {
    background-color: #191714;
    padding: 16.25%
}

.escalator-block .escalator-image {
    background: url(/static/images/escalator.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%
}

.rising-standarts-block {
    padding-top: 9vw;
    background: url(/static/images/bg.png) center top no-repeat;
    background-size: cover;
}

.rising-standarts-block .quote {
    font-weight: 900;
    font-size: 6vw;
    color: #d9d9d2;
    width: 54%;
    margin: 0 auto;
    line-height: 1
}

.rising-standarts-block .text {
    color: #d9d9d2;
    width: 25%;
    margin-left: 51.5%;
    padding-bottom: 36vw;
    padding-top: 10vw;
    line-height: 1.81;
    position: relative;
    &:before {
    	content: "";
    	position: absolute;
	    display: block;
	    border-bottom: 2px solid #9E9D8F;
	    transform: rotate(9deg);
	    width: 80%;
	    top: 140px;
	    left: -25vw;
	    z-index: 1;
    }
}

.rising-standarts-block {
	.dashes {
		display: none;
	}	
}

@media screen and (max-width: 740px) {
	.rising-standarts-block {
		background: url(/static/svg/bg-mobile.svg) center top no-repeat;
		background-size: cover;
		padding-top: 36vw;
		padding-bottom: 70vw;
		.quote {
			width: 70%;
		}
		.text {
			width: 70%;
			margin-left: 15%;
			padding-bottom: 4vw;
			&:before {
				position: static;
				margin-bottom: 70px;
				width: 50%;
				margin-left: 25%;
			}
		}
		.dashes {
			display: block;
			border: 1px solid transparent;
			border-image: url(/static/images/border.png) 1 repeat;
			height: 50vw;
			border-bottom: none;
			border-top: none;
			&.first {
				margin-left: 7%;
				width: 41%;
				float: left;
			}
			&.second {
				margin-left: 4%;
				width: 41%;
				float: left;
			}
		}
	}
}

.tour-block {
    padding: 0 9.75% 130px;
    background-color: transparent;
    color: #9e9d8f;
    margin-top: -295px;
	.col-md-6:first-child {
	    padding-right: 63px
	}
	.col-md-6:last-child {
	    padding-left: 63px
	}
	.text-block {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center
	}
	.text-block,
	p {
	    margin-bottom: 90px;
	    letter-spacing: -.5px
	}
	.animated-image {
		transition: 0.5s;
		&.scrolled-into-view {
			opacity: 1;
			transform: scale(1.05);
		}
	}
	.bedroom {
	    opacity: .9
	}
	.kitchen {
	    opacity: .3
	}
	.bathroom {
	    opacity: .5
	}
	img {
	    margin-bottom: 15px
	}
	.bathroom-block,
	.bedroom-block,
	.kitchen-block {
	    display: inline-block;
	    width: auto
	}
	.bathroom-block {
	    margin-top: 350px
	}
	.quote-block {
	    width: 86%;
	    margin: 0 7%;
	    position: relative;
	}
	.divider {
		display: block;
		border-bottom: 2px solid #9E9D8F;
		transform: rotate(9deg);
		width: 86%;
		margin: 0 7%;
	}
	.line {
	    height: 95px;
	    position: static;
	    -webkit-transform: none;
	    transform: none;
	    background: linear-gradient(to top right,transparent calc(50% - 1px),#babab0,transparent calc(50% + 1px));
	    margin: 0;
	    width: 100%
	}
	.quote {
	    line-height: 1.81;
	    color: #191714;
	    margin-top: 80px;
	    margin-bottom: 40px
	}
	.btn.tour {
	    background-color: #191714;
	    color: #ff9c5f
	}
	.horizontal-line {
	    border-bottom: solid 1px #9e9d8f;
	    width: 70px;
	    height: 1px;
	}
}


@media screen and (max-width: 1100px) {
	.tour-block {
		.quote-block {
			.btn {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.tour-block {
		margin-top: -225px;
		.col-md-6:first-child,
		.col-md-6:last-child {
			text-align: center;
			padding: 0;
		}
		.bathroom-block {
			margin-top: 0;
		}
		.quote-block {
			.btn {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 740px) {
	.tour-block {
		margin-top: -50px;
		.horizontal-line {
			display: none;
		}
		.text-block {
			margin-bottom: 50px;
			.text {
				width: 60%;
				display: block;
				margin: 0 auto;
				text-align: center;
				font-size: 21px;
			}
		}
		.quote-block {
			.quote {
				margin-top: 0;
				font-size: 21px;
				line-height: 1.5;
				text-align: justify;
			}
			.btn-container {
				width: 350px;
				margin: 0 auto;
			}
			&:after {
				margin-top: 0;
				top: 20vw;
			}
		}
		.divider {
			display: none;
		}
	}
}

.just-living-block .quote,
.roof-block .quote {
    font-size: 240px;
    line-height: .92;
    text-transform: uppercase;
    font-family: SixCaps,sans-serif
}

.line3 {
	content: "";
    display: block;
    border-bottom: 2px solid #9E9D8F;
    transform: rotate(9deg);
    width: 80%;
    margin: 0 10%;
}

.just-living-block {
    padding: 140px 0 0
}

.just-living-block .football {
    letter-spacing: -.6px;
    color: #191714;
    margin-bottom: 25px
}

.just-living-block .row {
    margin: 0
}

.just-living-block .col-md-9,.just-living-block .football {
    padding-left: 9.75%
}

.just-living-block .col-md-3 {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.just-living-block .roof {
    background: url(/static/images/football.png);
    width: 290px;
    height: 650px;
    background-size: cover;
    opacity: .2
}

.just-living-block .horizontal-line {
    height: 12px;
    width: 100%;
    background-color: #9e9d8f;
    position: absolute;
    bottom: 100px
}

@media screen and (max-width: 767px) {
	.just-living-block {
		padding-bottom: 300px;
		overflow: hidden;
		.football {
			font-size: 21px;
		}
		.quote {
			font-size: 24vw;
			line-height: 1;
		}
		.row {
			position: relative;
		}
		.roof {
			height: 100vw;
			left: 70%;
		}
		.col-md-3 {
			position: absolute;
			top: 0;
			left: 30%;
		}
		.horizontal-line {
			position: absolute;
			bottom: 100px;
			left: 40%;
		}
	}
}

.roof-block {
    padding-top: 130px;
	.row {
	    margin: 0;
	    position: relative
	}
	.background-quote {
	    margin-left: -120px;
	    position: absolute
	}
	.col-md-6 {
	    padding: 0;
	    margin-left: 10%
	}
	.quote {
	    opacity: .05
	}
	.advantage-image {
	    height: 650px;
	    background: url(/static/images/full-football.jpg) center no-repeat;
	    margin-bottom: 130px;
	    opacity: .9
	}
	.right {
	    position: absolute;
	    right: 3.7%;
	    width: 50%;
	    .advantages-names {
	    	text-align: right;
	    	line-height: 1.1;
		    font-weight: 900;
		    color: #191714;
		    text-transform: uppercase;
		    margin-bottom: 30px;
		    .advantage-name {
		    	cursor: pointer;
			    .advantage-name-svg {
			    	display: inline-block;
			    	width: 45vw;
			    	.advantage-name-text {
						stroke: #9E9D8F;
						stroke-width: 0.3;
						fill: none;
						font-size: 11px;
						letter-spacing: 0.1px;
			    	}
			    }
			    &.active {
			    	.advantage-name-svg {
				    	.advantage-name-text {
				    		stroke: #191714;
				    		fill: #191714;
				    	}
				    }
			    }
		    }
	    }
	}
	.line {
	    height: 95px;
	    position: static;
	    -webkit-transform: none;
	    transform: none;
	    background: linear-gradient(to top right,transparent calc(50% - 1px),#babab0,transparent calc(50% + 1px));
	    margin: 0 0 0 36%;
	    width: 53%
	}
 	.available {
	    font-size: 16px;
	    font-weight: 400;
	    margin-top: 30px;
	    text-align: left;
	    width: 53%;
	    margin-left: 36%;
	    line-height: 1.81;
	}
	.available .available-title {
	    font-style: italic;
	    margin-bottom: 15px;
	}
	.slider-controls {
		display: none;
	}
	.lines {
	    width: 53%;
	    margin-left: 36%;
	    height: 140px;
	    background: url(/static/images/lines.png);
	    background-size: cover;
	}
}

@media screen and (max-width: 767px) {
	.roof-block {
		padding-top: 0;
		.right {
			position: static;
			width: 100%;
			.advantages-names {
				.advantage-name {
					display: none;
					.advantage-name-svg {
						.advantage-name-text {
							font-size: 1.5vw;
						}
					}
					&.active {
						display: block;
						width: 80%;
						text-align: left;
						margin-left: 10%;
					}					
				}
			}
			.line {
				display: none;
			}
		}
		.col-md-6 {
			margin-left: 0;
		}
		.available {
			width: 80%;
			margin: 20px 10% 0 10%;
			.available-title {
				position: relative;
				padding-left: 20px;
				&:before {
					content: "";
					display: inline-block;
					width: 10px;
					height: 4px;
					background: #FF9C5F;
					position: absolute;
					top: 12px;
					left: 5px;
				}
			}
		}
		.background-quote {
			display: none;
		}
		.advantage-image {
			margin-bottom: 30px;
			height: 80vw;
		}
		.slider-controls {
			display: flex;
			justify-content: center;
			margin: 10px 0;
			.slider-control {
				height: 15px;
				width: 15px;
				border-radius: 50%;
				border: 2px solid #353133;
				margin-left: 20px;
				&.active {
					background: #353133;
				}
			}
		}
		.lines {
			margin: 10px 10% 0 10%;
			width: 80%;
		}
	}
}

.partner-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-top: -20px;
	.ellipse-bg {
	    background: url('/static/svg/FG_UI01_assets_samsung oval.svg') 50% 33% no-repeat;
	    background-size: cover;
	    height: 850px;
	    position: absolute;
	    width: 100%;
	    z-index: 2
	}
	.title {
	    padding-top: 205px;
	    font-size: 30px;
	    font-weight: 900;
	    color: #d9d9d2;
	    padding-bottom: 45px;
	    z-index: 3;
	    position: relative
	}
	.samsung-logo {
	    height: 72px;
	    margin-bottom: 65px;
	    z-index: 3;
	    position: relative
	}
	.paragraph {
	    color: #d9d9d2;
	    text-align: center;
	    line-height: 1.81;
	    padding-bottom: 70px;
	    z-index: 3;
	    position: relative
	}
	.btn-container {
	    z-index: 3;
	    position: relative;
	    width: 353px;
	    margin: 0 auto
	}
	.discount {
	    border: 1px solid #ff8b1f;
	    color: #ff8b1f;
	    letter-spacing: 3.5px
	}
	.btn-border {
	    border-color: #ff8b1f
	}
	.wrapper {
	    background-color: #131828;
	    text-align: center
	}
	.text-block {
	    display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    color: #9e9d8f;
	    letter-spacing: -.5px;
	    width: 100%;
	    position: relative;
	    padding: 0 15%
	}
	.horizontal-line {
	    border-bottom: solid 1px #9e9d8f;
	    width: 70px;
	    height: 1px
	}
	.partner-block-image {
	    margin-top: 100px;
	    height: 500px;
	    width: 100%;
	    -o-object-fit: cover;
	    object-fit: cover;
	    margin-bottom: 15px;
	    opacity: .9;
	    padding: 0 15%
	}
}

@media screen and (max-width: 767px) {
	.partner-block {
		.ellipse-bg {

		}
		.samsung-logo {
			width: 80%;
		}
		.title {
			text-align: center;
			width: 60%;
		}
		.text-block {
			font-size: 21px;
			text-align: center;
			width: 80%;
			margin: 0 auto;
			.horizontal-line {
				display: none;
			}
		}
	}
}

.leap-block,
.partner-block .text-block {
    display: -webkit-box;
    display: -ms-flexbox
}

.leap-block {
    padding: 275px 7%;
    height: 100vh;
    background-color: #131828;
    color: #d9d9d2;
    font-size: 240px;
    font-family: SixCaps,sans-serif;
    line-height: .92;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.leap-block .quote-line {
    border: 1px solid transparent;
    -o-border-image: url(/static/images/border.png) 10 stretch;
    border-image: url(/static/images/border.png) 10 stretch;
    border-top: none;
    border-bottom: none
}

.leap-block .quote-line-one {
    border-left: none
}

.leap-block .quote-line-two {
    text-align: right;
    border-right: none
}

@media screen and (max-width: 740px) {
	.leap-block {
		.quote-line {
			border: none;
			text-align: center;
			font-size: 18vw;
		}
		.quote-line-one {
			position: relative;
			&:before {
				content: "";
				border: 1px solid transparent;
				border-image: url(/static/images/border.png) 1 repeat;
				position: absolute;
				display: inline-block;
				height: 38vh;
				top: -40vh;
				left: 50%;
			}
		}
		.quote-line-two {
			position: relative;
			&:after {
				content: "";
				border: 1px solid transparent;
				border-image: url(/static/images/border.png) 1 repeat;
				position: absolute;
				display: inline-block;
				height: 38vh;
				bottom: -40vh;
				left: 50%;
			}
		}
	}
}

.locations-block {
    padding: 0 7%;
    padding-top: 50px;
    .paragraph {
    	text-align: justify;
    }
    .region-selector-container {
    	.region-selector-prefix {
			font-size: 25px;
			font-weight: 900;
			color: #9E9D8F;
    	}
    	.region-selector {
    		.selected-region {
    			margin-left: 10px;
    			margin-bottom: -3px;
    			color: #191714;
    			font-size: 25px;
				font-weight: 900;
    			border-bottom: 3px solid #FF9C5F;
    			cursor: pointer;
    		}
    	}
    }
	.locations-list {
	    padding-top: 75px;
	    padding-bottom: 215px;
		.location-item {
		    line-height: .9;
		    position: relative;
		    margin-bottom: 80px;
		    .center-block {
		    	position: absolute;
			    background: #D9D9D2;
			    text-align: center;
			    padding: 30px 100px;
			    left: 50%;
			    top: 50%;
			    transform: translate3D(-50%, -50%, 0);
			    .location-name {
				    font-family: SixCaps,sans-serif;
				    text-transform: uppercase;
				    font-size: 16vw;
			    }
			    .caption {
			    	display: none;
			    }
		    }
		    &.type-1 {
		    	.left {
		    		padding-right: 20px;
		    		.caption {
		    			text-align: right;
		    			padding-top: 20px;
		    			font-weight: 900;
		    		}
		    	}
		    	.right {
		    	}
		    }
		    &.type-2 {
		    	.left {
		    	}
		    	.right {
		    		padding-left: 20px;
		    		.caption {
		    			text-align: left;
		    			padding-top: 20px;
		    			font-weight: 900;
		    		}
		    	}
		    }
		}
	}
}

@media screen and (max-width: 740px) {
	.locations-block {
		padding: 0;
		.caption-region-selector {
			padding: 40px 55px;
			.paragraph {
				font-size: 21px;
				line-height: 1.5;
				padding: 0;
				
			}
			.region-selector-container {
				margin-top: 40px;
			}
		}
		.locations-list {
			padding-top: 25px;
			.location-item {
				margin-bottom: 40px;
				img {
					width: 100%;
				}
				.center-block {
					.caption {
						display: block;
						padding-top: 20px;
						font-weight: 900;
						margin: 0 -50px;
					}
				}
				&.type-1 {
					.left {
						padding: 0;
						.caption {
							display: none;
						}
					}
					.right {
						display: none;
					}
				}
				&.type-2 {
					.left {
						display: none;
					}
					.right {
						padding: 0;
						.caption {
							display: none;
						}
					}
				}
			}
		}
	}
}

.mailing-block {
	padding: 0 7%;
	margin-bottom: 200px;
	.caption {
		font-weight: 900;
		font-size: 30px;
		text-transform: uppercase;
		display: inline-block;
		cursor: pointer;
		position: relative;
		z-index: 2;
		&:after {
		    content: "";
		    display: block;
		    border-bottom: 4px solid #FF9C5F;
		    width: 100%;
		    padding: 0 30px;
		    box-sizing: content-box;
		    margin-left: -30px;
		    margin-top: -25px;
		}
	}
	&:after {
	    content: "";
	    display: block;
	    border-bottom: 2px solid #9E9D8F;
	    transform: rotate(9deg);
	    width: 100%;
	    margin-top: -17px;
	    position: relative;
	    z-index: 1;
	}
}

@media screen and (max-width: 740px) {
	.mailing-block {

	}
}

footer {
    height: 565px;
    background: url(/static/images/footer-bg.png);
    background-size: cover;
    padding-right: 7%;
    padding-left: 16%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	.footer-logo {
	    width: 160px;
	    height: 160px;
	    margin-bottom: 125px;
	}
	.footer-menu {
	    border-top: 1px solid #d9d9d2;
	    padding-top: 25px;
	    text-align: right;
	    padding-bottom: 125px;
	}
	.menu-item {
	    color: #d9d9d2;
	    border-right: 1px solid #d9d9d2;
	    padding: 0 10px;
	    display: -webkit-inline-box;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    letter-spacing: -.3px;
	    line-height: 1;
	}
	.menu-item:first-child {
	    padding-left: 0;
	}
	.menu-item:nth-child(4) {
	    border-right: none;
	    padding-right: 0;
	}
	.dev {
	    padding-top: 15px;
	    color: #d9d9d2;
	}
}

@media screen and (max-width: 740px) {
	footer {
		background: url('/static/svg/mobile-footer.svg') center top no-repeat;
		background-size: cover;
		flex-direction: column;
	    align-items: center;
	    justify-content: unset;
	    height: auto;
	    padding: 0;
	    .footer-logo {
	    	margin: 125px 0;
	    }
	    .footer-menu {
	    	text-align: center;
	    	padding-bottom: 25px;
		    .menu-item {
		    	display: block;
		    	border-right: 0;
		    	font-size: 21px;
		    	line-height: 1.5;
		    }
		    .dev {
		    	margin-top: 40px;
		    	font-size: 21px;
		    	color: #9E9D8F;
		    }
	    }
	}
}